*{
   margin:0;

	}
#container{
	padding-top: 5%;
	width: 100%;
	margin:0px auto;
    
}
#container img{
	width: 100%;
	height:400px;
}
#section1{
	width: 33.33%;
	float: left;
	background-color: yellow;
}
#section2{
	width: 33.33%;
	float: left;
	background-color: pink;
}
#section3{
	width: 33.33%;
	float: left;
	background-color: blue;
}

